@font-face {
  font-family: "sf-pro";
  src: url("../San-Francisco-Pro-Fonts-master/SF-Pro-Display-Black.otf") format(truetype);
}
body {
  margin: 0;
  padding: 0;
  font-family: "sf-pro", sans-serif;
}

.section-1 .title {
  font-size: 400%;
  line-height: 60px;
}
.section-1 .title .first {
  color: #BDBDBD;
}
.section-1 .strelka {
  display: flex;
  margin-top: 50px;
}
.section-1 .strelka .carousel-control-prev, .section-1 .strelka .carousel-control-next {
  position: static !important;
  width: 43px !important;
  height: 43px;
  background-color: #f9f9f9 !important;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  margin-right: 20px;
}
.section-1 .carousel .carousel-inner img {
  height: 550px;
}
.section-1 .carousel .carousel-control-next {
  position: absolute !important;
  width: 150px !important;
  height: 40px !important;
  background-color: white !important;
  top: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  opacity: 1 !important;
}

.section-4 .content {
  padding: 50px;
  box-sizing: border-box;
  color: #ffffff;
  display: none;
}
.section-4 .img1, .section-4 .img2, .section-4 .img3, .section-4 .img4, .section-4 .img5 {
  width: 100%;
  height: 255px;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
.section-4 .img1:hover .content, .section-4 .img2:hover .content, .section-4 .img3:hover .content, .section-4 .img4:hover .content, .section-4 .img5:hover .content {
  display: block;
}
.section-4 .img1 {
  background: url("../img/Rectangle 12.png");
}
.section-4 .img1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Rectangle 12.png");
}
.section-4 .img2 {
  background: url("../img/image 15.png");
}
.section-4 .img2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/image 15.png");
}
.section-4 .img3 {
  background: url("../img/image 16.png");
}
.section-4 .img3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/image 16.png");
}
.section-4 .img3 .content {
  padding: 20px;
}
.section-4 .img3 .content .text {
  font-size: 30px !important;
}
.section-4 .img4 {
  background: url("../img/image 17.png");
}
.section-4 .img4:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/image 17.png");
}
.section-4 .img5 {
  background: url("../img/image 18.png");
}
.section-4 .img5:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/image 18.png");
}
.section-4 .btnn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #333333;
}

.section-5 form input, .section-5 form textarea {
  width: 100%;
  background: #f3f3f3;
  border: none;
  outline: none;
  margin-bottom: 12px;
  padding: 10px;
  padding-left: 20px;
}
.section-5 .btnn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #333333;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .section-5 .none-to-mobaile {
    display: none;
  }
}
nav ul {
  margin-left: 39%;
}
nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid transparent;
  padding-top: 5px;
  padding-bottom: 3px;
}
nav .nav-item:hover {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  box-sizing: border-box;
}
nav .nav-item .nav-link {
  padding: 0 !important;
  color: black;
}
nav .nav-item .nav-link:hover {
  color: black !important;
}

footer {
  background: #2c2c2c;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}
footer ul li div {
  color: #ffffff;
}

.section-map {
  margin-left: 90px;
}
.section-map .row {
  margin-right: 0;
  margin-left: 0;
}
.section-map .row .col-md-12 .titleee .btn {
  width: 222px;
  height: 71px;
  background-color: #333333;
  outline: none;
  border: 1px solid #333;
}

@media (max-width: 1300px) {
  .sectiontitle .container .row .col-12 {
    text-align: center;
  }

  .section-map {
    margin: 0 !important;
  }
  .section-map .row .col-12 {
    text-align: center;
  }
  .section-map .row .map {
    margin-top: 40px;
    padding: 0 !important;
    height: 350px !important;
    width: 100%;
  }
  .section-map .row .map .maps {
    width: 100%;
    height: 100%;
  }
}
.section-map {
  margin-left: 90px;
}
.section-map .row {
  margin-right: 0;
  margin-left: 0;
}
.section-map .row .col-md-12 .titleee .btn {
  width: 222px;
  height: 71px;
  background-color: #333333;
  outline: none;
  border: 1px solid #333;
}

@media (max-width: 1300px) {
  .sectiontitle .container .row .col-12 {
    text-align: center;
  }

  .section-map {
    margin: 0 !important;
  }
  .section-map .row .col-12 {
    text-align: center;
  }
  .section-map .row .map {
    margin-top: 40px;
    padding: 0 !important;
    height: 350px !important;
    width: 100%;
  }
  .section-map .row .map .maps {
    width: 100%;
    height: 100%;
  }
}
.sectiontitle .container .row .ser, .section-map .row .col-md-12 .titleee .eee .ser {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}

.sectiontitle .container .row .kamp, .section-map .row .col-md-12 .titleee .eee .kamp {
  font-family: TT Hoves;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #333333;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.sectioncar .container .row .col-md-12 .atta {
  display: inline-block;
  transform: translate(-131px, -37px);
}
.sectioncar .container .row .col-md-12 .atta .bor {
  margin: 0 15px;
}
.sectioncar .container .row .col-md-12 .atta .www {
  color: #BDBDBD;
}
.sectioncar .container .row .col-md-12 .owl-carousel .owl-nav {
  display: flex;
  align-content: flex-end;
}
.sectioncar .container .row .col-md-12 .owl-carousel .owl-nav .owl-prev {
  width: 40px;
  height: 40px;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  outline: none;
  background-image: url("../img/ong.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.sectioncar .container .row .col-md-12 .owl-carousel .owl-nav span {
  display: none;
}
.sectioncar .container .row .col-md-12 .owl-carousel .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  margin-right: 19px;
  outline: none;
  background-image: url("../img/chap.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.sectioncar .container .row .col-md-12 .owl-carousel .imgs {
  width: 337px;
  height: 450px;
}

@media (min-width: 300px) and (max-width: 700px) {
  .sectiontitle .container .row .col-12 .ser {
    font-size: 36px;
    line-height: 36px;
  }
  .sectiontitle .container .row .col-12 .kamp {
    font-size: 36px;
    line-height: 36px;
  }

  .section-map .row .col-12 .titleee .eee .ser {
    font-size: 36px;
  }
  .section-map .row .col-12 .titleee .eee .kamp {
    font-size: 36px;
  }
  .section-map .row .col-12 .titleee .wee {
    width: 150px;
    height: 50px;
  }
}
@media (min-width: 100px) and (max-width: 300px) {
  .section-map .row .col-12 .titleee .eee .ser {
    font-size: 24px;
  }
  .section-map .row .col-12 .titleee .eee .kamp {
    font-size: 24px;
    line-height: 0;
  }
  .section-map .row .col-12 .titleee .wee {
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 992px) {
  .sectioncar .container .row .col-md-12 .atta {
    display: inline-block;
    transform: translate(-109px, -64px);
  }
  .sectioncar .container .row .col-md-12 .atta .bor {
    margin: 0 15px;
  }
  .sectioncar .container .row .col-md-12 .atta .www {
    color: #BDBDBD;
  }
  .sectioncar .container .row .col-md-12 .owl-carousel .owl-nav {
    display: flex;
    align-content: flex-end;
  }
  .sectioncar .container .row .col-md-12 .owl-carousel .imgs {
    width: 337px;
    height: 450px;
  }
}
.section-2 .img1 {
  background: url("../img/image 19.png");
}
.section-2 .content {
  display: none;
}

.section-parking .container .row .one-p, .section-nashi .container .row .col-12 .one-p, .section-gallareya .container .row .col-12 .one-p {
  font-size: 60px;
  font-weight: 300;
}

.section-parking .container .row .avto, .section-nashi .container .row .col-12 .avto, .section-gallareya .container .row .col-12 .avto {
  font-size: 60px;
}

.section-parking .container .row .col-12 .textt .fsize, .section-nashi .container .row .col-lg-5 .textt {
  font-size: 16px;
  font-weight: 300;
}

.section-gallareya .container .row .col-md .card .hoverr div {
  font-size: 14px;
  font-weight: 300;
}

.section-nashi .container .row .col-lg-5 .first-text {
  font-size: 40px;
  font-weight: 300;
  line-height: 49.8px;
}

.section-nashi .container .row .col-lg-5 button {
  width: 222px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.section-gallareya .owl-dots {
  display: none;
}
.section-gallareya .owl-prev {
  outline: none;
  margin: 2% 21%;
}
.section-gallareya .owl-prev span {
  background-color: #ccc9c9;
  padding: 5px 20px;
}
.section-gallareya .owl-prev span:hover {
  background-color: #F9F9F9;
}
.section-gallareya .owl-next {
  margin: 2% -19.5%;
  outline: none;
}
.section-gallareya .owl-next span {
  background-color: #ccc9c9;
  padding: 5px 20px;
}
.section-gallareya .owl-next span:hover {
  background-color: #F9F9F9;
}
.section-gallareya .container .row .col-12 h6 {
  padding: 0 !important;
  margin: 0 !important;
}
.section-gallareya .container .row .col-12 .one-p {
  color: #bdbdbd;
}
.section-gallareya .container .row .col-md .card {
  width: 100%;
}
.section-gallareya .container .row .col-md .card .hoverr {
  bottom: 0px;
  width: 100%;
  height: 0px;
}
.section-gallareya .container .row .col-md .card .hoverr div {
  display: none;
}
.section-gallareya .container .row .col-md .card:hover .hoverr {
  width: 100%;
  height: 45%;
  transition: 1s;
}
.section-gallareya .container .row .col-md .card:hover .hoverr div {
  display: block;
}

.section-nashi .owl-carousel .owl-item button img {
  width: 10% !important;
}
.section-nashi .container .row .col-12 {
  padding: 0 !important;
}
.section-nashi .container .row .col-12 h6 {
  padding: 0 !important;
  margin: 0 !important;
}
.section-nashi .container .row .col-12 .one-p {
  color: #bdbdbd;
}
.section-nashi .container .row .col-lg-5 {
  background-color: #fafafa;
  padding: 0 !important;
}
.section-nashi .container .row .col-lg-5 .first-text {
  color: #bdbdbd;
}
.section-nashi .container .row .col-lg-5 .textt {
  margin-top: 5%;
}
.section-nashi .container .row .col-lg-5 button {
  outline: none;
  border: none;
  margin-top: 15%;
}

.section-parking .container .row .one-p {
  color: #bdbdbd;
}
.section-parking .container .row .col-12 {
  width: 100%;
}
.section-parking .container .row .col-12 .textt {
  width: 66.6%;
}
@media (min-width: 300px) and (max-width: 600px) {
  .section-gallareya .container .row .col-12 .one-p {
    font-size: 30px;
    color: #bdbdbd;
  }
  .section-gallareya .container .row .col-12 .avto {
    font-size: 30px;
  }

  .section-parking .container .row .one-p {
    font-size: 35px !important;
  }
  .section-parking .container .row .avto {
    font-size: 35px !important;
  }
}
@media (max-width: 300px) {
  .section-gallareya .container .row .col-12 .one-p {
    font-size: 20px;
    color: #bdbdbd;
  }
  .section-gallareya .container .row .col-12 .avto {
    font-size: 20px;
  }

  .section-parking .container .row .one-p {
    font-size: 20px !important;
  }
  .section-parking .container .row .avto {
    font-size: 20px !important;
  }

  .section-nashi .one-p {
    font-size: 40px !important;
  }
  .section-nashi .avto {
    font-size: 40px !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .section-parking .container .row .col-12 .fsize {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
