footer{
    background: #2c2c2c;
    ul{
        li{
            a{
                text-decoration: none;
                color: white;
                font-weight: 400;
            }
            div{
                color: #ffffff;
            }
        }
    }
}